<h2 mat-dialog-title>{{data.editMode ? "Update Card" : ""}}New Card</h2>

<mat-dialog-content>
    <mat-form-field style="width: 100%;">
        <mat-label>Header</mat-label>
        <input [(ngModel)]="title" type="text" matInput>
    </mat-form-field>
    <div *ngFor="let task of tasksLoop;let i = index">
        <mat-form-field style="width: 90%;">
            <mat-label>Task {{i + 1}}</mat-label>
            <input [(ngModel)]="tasks[i]" type="text" matInput>
        </mat-form-field>
        <button (click)="deleteTask(i)" mat-icon-button style="width: 10%;">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="addTask()" mat-raised-button>Add new Task</button>
    <button (click)="close()" mat-raised-button color="accent">Cancel</button>
    <button (click)="create()" mat-raised-button color="primary">
        {{data.editMode ? "Update" : "Add"}}
    </button>
</mat-dialog-actions>