.mainArea {
    min-height: 721px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    text-align: center;
}

.pending {
    color: gray;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    font-weight: bold;
}