<div style="display: flex;justify-content: space-between;align-items: center;">

    <div style="display: flex;align-items: center;">
        <h3 mat-dialog-title style="margin: 0px;">
            <span>{{isUpdate ? "update text" : "display text"}}</span>
        </h3>
    </div>
    <button (click)="close()" style="font-size: 24px;margin-right: 10px;" mat-button>X</button>
</div>
<mat-divider class="mb-2"></mat-divider>

<mat-dialog-content>
    <div *ngIf="!isUpdate">
        <div class="row mb-3">
            <div class="col-md-6" style="padding-left: 0px;">
                <img src="assets/images/image{{imageUrl}}.jpg" alt="" class="w-100">
            </div>
            <div class="col-md-6">
                <h2>{{title}}</h2>
                <p>{{body}}</p>
            </div>
        </div>
        <div class="row" *ngFor="let comment of commentData"
            style="background-color: lightgray;margin-bottom: 20px;padding: 20px;">
            <div class="col-md-2">
                <img style="width: 30px;height: 30px;border-radius: 50%;"
                    src="assets/images/profile/profile{{comment.userId}}.jpg" alt="">
            </div>
            <div class="col-md-10">
                <h3>{{comment.name}}</h3>
                <p>{{comment.body}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="isUpdate">
        <form [formGroup]="form" style="min-width: 350px;">
            <div class="container">
                <div class="row">
                    <mat-form-field>
                        <mat-label>Blog header</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Blog body</mat-label>
                        <textarea cols="40" rows="10" s matInput formControlName="body"
                            style="resize: none;"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="primary" [disabled]="!form.valid"
            (click)="onSubmit()">Update</button>
        </form>

    </div>
</mat-dialog-content>