<mat-toolbar color="primary" class="title">
    <div style="display: flex; align-items: center;">
        <div>Eren Salih</div>
        <button style="margin: 10px;" mat-raised-button (click)="sidenav.toggle()">Toggle</button>
    </div>
    <div>
        <span>Home page</span>
        <span>About</span>
        <span>Course</span>
    </div>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #sidenav mode="side" [(opened)]="opened">Sidenav</mat-drawer>
    <mat-drawer-content style="margin-left: 30px;">
        <mat-menu #appMenu xPosition="after" yPosition="above">
            <button mat-menu-item [matMenuTriggerFor]="subMenuFront">Frontend</button>
            <button mat-menu-item [matMenuTriggerFor]="subMenuBackend">Backend</button>
        </mat-menu>
        <button mat-raised-button [matMenuTriggerFor]="appMenu">Menu</button>
        <mat-menu #subMenuFront="matMenu">
            <button mat-menu-item>Angular</button>
            <button mat-menu-item>React</button>
            <button mat-menu-item>Vue Js</button>
        </mat-menu>
        <mat-menu #subMenuBackend="matMenu">
            <button mat-menu-item>C#</button>
            <button mat-menu-item>Python</button>
            <button mat-menu-item>Node Js</button>
        </mat-menu>
        <mat-menu #dataMenu="matMenu">
            <ng-template matMenuContent let-name="name">
                <button mat-menu-item>Ayarlar</button>
                <button mat-menu-item>Çıkış yap {{name}}</button>
            </ng-template>
        </mat-menu>
        <button class="title" mat-raised-button [matMenuTriggerData]="{name:'Can'}"
            [matMenuTriggerFor]="dataMenu">Can</button>
        <button class="title" mat-raised-button [matMenuTriggerData]="{name:'Osman'}"
            [matMenuTriggerFor]="dataMenu">Osman</button>

        <mat-selection-list #shoes style="width: 50%;">
            @for (shoe of typesOfShoes; track shoe) {
            <mat-list-option>{{shoe}}</mat-list-option>
            }
        </mat-selection-list>

        <p>
            Options selected: {{shoes.selectedOptions.selected.length}}
        </p>

        <mat-grid-list cols="4" rowHeight="100px">
            @for (tile of tiles; track tile) {
            <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background]="tile.color">{{tile.text}}</mat-grid-tile>
            }
        </mat-grid-list>

    </mat-drawer-content>
</mat-drawer-container>