<div class="container">
  <h3>Bill</h3>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" (input)="onNameChange($event.target.value)">
      </div>
    </div>

    <div class="col-md-6">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Payment date</label>
        <input type="date" class="form-control" (input)="onDateChange($event.target.value)">
      </div>
    </div>

    <div class="col-md-6">
      <label><b>Payment date</b></label>
      <div>
        {{ date | date:"MMMM d,y" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Cost</label>
        <input class="form-control" (input)="onMoneyChange($event.target.value)">
      </div>
    </div>

    <div class="col-md-6">
      <label><b>Cost</b></label>
      <div>
        {{ money | currency }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Miles</label>
        <input class="form-control" (input)="onMilesChange($event.target.value)">
      </div>
    </div>

    <div class="col-md-6">
      <label><b>Kilometer</b></label>
      <div>
        {{ miles | convert:"m" }}
      </div>
    </div>
  </div>

</div>