<h1>Password Generator</h1>

<div>
  <label for="">length of password</label>
  <input type="text">
</div>

<div>
  <label for="">use the alphabet</label>
  <input type="checkbox">
</div>

<div>
  <label for="">use the numbers</label>
  <input type="checkbox">
</div>

<div>
  <label for="">use the symbols</label>
  <input type="checkbox">
</div>

<div>
  <button (click)="buttonClick()">Generate</button>
</div>

<div>
  <label for="">Your Password</label>
  <input [value]="gettPassword()">
</div>

<p>
  {{password}}
</p>
<p>
  {{getName()}}
</p>
