<h1>Password Generator</h1>

<div>
  <label for="">length of password</label>
  <input type="text" (change)="modifyLength($event.target.value)">
</div>

<div>
  <label for="">use the alphabet</label>
  <input (change)="modifyLetters()"  type="checkbox">
</div>

<div>
  <label for="">use the numbers</label>
  <input (change)="modifyNumbers()" type="checkbox">
</div>

<div>
  <label for="">use the symbols</label>
  <input (change)="modifySymbols()" type="checkbox">
</div>

<div>
  <button (click)="buttonClick()">Generate</button>
</div>

<div>
  <label for="">Your Password</label>
  <input >
</div>

<p>
  {{getName()}}
</p>
