<div class="container">
    <div class="form-container">
        <div class="title">Log in</div>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Type email</mat-label>
                <input matInput formControlName="email">
                <mat-error>
                    <p *ngIf="f['email'].errors && f['email'].errors['required']">
                        Email is required
                    </p>
                    <p *ngIf="f['email'].errors && f['email'].errors['email']">
                        Type true format of email
                    </p>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Type password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error>
                    <p *ngIf="f['password'].errors && f['password'].errors['required']">
                        Password is required
                    </p>
                    <p *ngIf="f['password'].errors && f['password'].errors['minlength']">
                        Type minimum 8 characters
                    </p>
                </mat-error>
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button" 
            [disabled]="loginForm.invalid" (click)="login()">Log in</button>
            <p>Or</p>
            <button routerLink="/create-user" mat-button>Create account</button>
        </div>
    </div>
</div>